.socials {
  width: 140px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials__list {
  width: 140px;
  height: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.socials__item {
  width: 32px;
  height: 22px;
  vertical-align: middle;
}

.socials__item-pic {
  width: 32px;
  height: 22px;
  vertical-align: middle;
  fill: #fff;
}

.socials__item-pic:hover {
  fill: #4e8839;
}