.hamburger-wrap {
  width: 100%;
  height: 100%;
  background-color: rgba(99, 146, 87, 1.0);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hamburger-wrap__header {
  width: inherit;
  height: auto;
}

.hamburger-wrap__header-wrap {
  width: inherit;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

.hamburger-wrap__cross {
  width: 36px;
  height: 36px;
  background-image: url('../../img/icons/cross.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 35px;
  margin-top: 30px;
  cursor: pointer;
}

.hamburger-wrap__title {
  width: auto;
  height: auto;
  margin-top: 200px;

  @include phones {
    margin-top: 100px;
  }
}