.main-title {
  width: auto;
  max-width: 350px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-title__image {
  width: 140px;
  height: 140px;
  text-align: center;
}

.main-title__image-wrap {
  overflow: hidden;
  height: 140px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.main-title__link {
  width: 140px;
  height: 140px;
}

.main-title__image-pic {
  max-height: 100%;
  display: none;
}

.main-title__name {
  height: 40px;
  color: #fff;
  font-family: 'robotomedium', 'Arial Narrow', Arial, sans-serif;
  font-size: 28px;
  margin-top: 20px;
}

.main-title__description {
  height: 25px;
  color: rgba(255, 255, 255, .7);
  font-family: 'robotoregular', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  margin-top: 10px;
}