extends ../main.layout.pug

//- <script src="https://api-maps.yandex.ru/2.1/?apikey=3db91649-d7d8-4ca3-9047-5bb9573cc9ed&lang=ru_RU" type="text/javascript"></script>
//- <link rel="stylesheet" href="./src/aboutMap.css">

block content
  #about
  <script src="/dist/main.bundle.js"></script>
  <script src="./src/map.js"></script>
